<!DOCTYPE HTML>

<html>
	<head>
		<title>Redpoint Capital | People</title>
		<link rel="stylesheet" href="static/layout.css">
		<link rel="stylesheet" href="static/skeleton.css">
		<link rel="stylesheet" href="static/base.css">	
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		<nav>
			<div class="container">
				<div class="sixteen columns">
					<header class="three columns alpha">
						<a href="http://www.redpoint-capital.appspot.com/home"><img src="static/images/logo.png" alt="Logo"></a>
					</header>
					<ul class="hidden five columns alpha">
						<li><a href="http://www.redpoint-capital.appspot.com/people">PEOPLE</a></li>
						<li><a href="http://www.redpoint-capital.appspot.com/performance">PERFORMANCE</a></li>				
					</ul>
					<ul class="fix eight columns omega">
						<li><a href="http://www.redpoint-capital.appspot.com/home">ABOUT</a></li>
						<li><a href="http://www.redpoint-capital.appspot.com/people">PEOPLE</a></li>
						<li><a href="http://www.redpoint-capital.appspot.com/performance">PERFORMANCE</a></li>
					</ul>
				</div>			
			</div>	
		</nav>
		<div class="container">
			<div class="sixteen columns">
				<div class="image">
					<img src="/static/images/city.jpg" alt="City" width="940px">
					<h2><span>Canada's Top Performing Hedge Fund<span class='spacer'></span><br/><br/><span class='spacer'></span>Delivering Since Day One</span></h2>
				</div>
				
			</div>
			<div class="main_body sixteen columns">
				<h2>ABOUT</h2>
				<p>Red Point Capital is one of Canada’s best performing hedge funds since 1990. We take a balanced approach towards investment and adjust our strategies depending on the economic context. Our number one priority is to deliver profits to our investors by mitigating risk through shorting. We invest mainly in commodities and manufacturing.
				</p>
				<p>Our team consists of one of the brightest minds in the world. We each have over ten years of experience in investing and have been exposed to various market conditions. We are dedicated to our investors and are also pleased to welcome new ones.</p>
				<p>
				Joel Dimagio <br/>
				CEO of Redpoint Capital
				</p>
			</div>
			<div class="sixteen columns">
				<footer>
					<p class="left">RedPoint Capital © 2012</p>
					<p class="right"><a href="http://www.redpoint-capital.appspot.com/home">About</a> | <a href="http://www.redpoint-capital.appspot.com/people">People</a> | <a href="http://www.redpoint-capital.appspot.com/performance">Performance</a> | <a href="http://www.redpoint-capital.appspot.com/contact">Contact</a></p>
				</footer>
			</div>
		</div>
	</body>
</html>