<!DOCTYPE HTML>

<html>
	<head>
		<title>Redpoint Capital | People</title>
		<link rel="stylesheet" href="static/layout.css">
		<link rel="stylesheet" href="static/skeleton.css">
		<link rel="stylesheet" href="static/base.css">	
		<link rel="stylesheet" href="static/people.css">	
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		<nav>
			<div class="container">
				<div class="sixteen columns">
					<header class="three columns alpha">
						<a href="http://www.redpoint-capital.appspot.com/home"><img src="static/images/logo.png" alt="Logo"></a>
					</header>
					<ul class="hidden five columns alpha">
						<li><a href="http://www.redpoint-capital.appspot.com/people">PEOPLE</a></li>
						<li><a href="http://www.redpoint-capital.appspot.com/performance">PERFORMANCE</a></li>				
					</ul>
					<ul class="fix eight columns omega">
						<li><a href="http://www.redpoint-capital.appspot.com/home">ABOUT</a></li>
						<li><a href="http://www.redpoint-capital.appspot.com/people">PEOPLE</a></li>
						<li><a href="http://www.redpoint-capital.appspot.com/performance">PERFORMANCE</a></li>
					</ul>
				</div>			
			</div>	
		</nav>
		<div class="container">
			<div class="main_body people sixteen columns">
				<h2>PEOPLE</h2>
				<div class="person sixteen columns alpha">
					<div class="image one columns alpha">IMAGE</div>
					<p class="twelve columns omega">Joel Dimagio (CEO): Worked at Goldman Sachs as an equity analyst for 10 years and received his MBA from Harvard and BS in Computer Science from Stanford</p>
				</div>
				<div class="person sixteen columns alpha">
					<div class="image one columns alpha">IMAGE</div>
					<p class="twelve columns omega">Michael Jia (Managing Partner): Worked at Merill Lynch for 8 years and was a bonds salesman at J.P Morgan for 2 years. He received his MBA from Wharton and BS from Texas A&amp;M.</p>
				</div>
				<div class="person sixteen columns alpha">
					<div class="image one columns alpha">IMAGE</div>
					<p class="twelve columns omega">Lamar Taylor (Managing Parnter): Worked as an analyst at Tiger Management for 12 years. He has a BComm from the University of Toronto.</p>
				</div>
				<div class="person sixteen columns alpha">
					<div class="image one columns alpha">IMAGE</div>
					<p class="twelve columns omega">Joey Mani (Analyst): Holds a PhD in Quantitative Finance from Berkeley, and a BS in Computer Science from CalTech.</p>
				</div>
			</div>
			<div class="sixteen columns">
				<footer>
					<p class="left">RedPoint Capital © 2012</p>
					<p class="right"><a href="http://www.redpoint-capital.appspot.com/home">About</a> | <a href="http://www.redpoint-capital.appspot.com/people">People</a> | <a href="http://www.redpoint-capital.appspot.com/performance">Performance</a> | <a href="http://www.redpoint-capital.appspot.com/contact">Contact</a></p>
				</footer>
			</div>
		</div>
	</body>
</html>